<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartWasteNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>♻ Smart Waste Classification</h1>
    <p>Upload an image to classify waste as Organic or Inorganic</p>

    <form action="/predict" method="post" enctype="multipart/form-data" class="upload-box">
        <input type="file" name="file" required>
        <button type="submit">Predict</button>
    </form>
</div>

</body>
</html>